<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
    <!-- <a [routerLink]="['/servers',5,'edit']" [queryParams]="{allowEdit:'1'}" fragment="loading"
      href="#"
      class="list-group-item"
      *ngFor="let server of servers">
      {{ server.name }}
    </a>--> 
      <a [routerLink]="['/servers',server.id]" [queryParams]="{allowEdit:'1'}" fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
     <button (click)="onreload()">Reload</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>

</div>

  