<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li role="presentation">
          <a  routerLink="/servers" routerLinkActive="active">Servers</a>
        </li>    <!--<a href="/servers">Servers</a> reloads the page-->
        <li role="presentation">
          <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
        </li> <!--through property binding-->
      </ul>
    </div>
    
  </div>

  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>

 
